<div class="container">
    <div class="detail-wrapper">
        <div class="content">
            <p>{{'user.name' | translate}}</p>
            <span>{{ user.name }}</span>
        </div>
        <div class="content">
            <p>{{'user.phone' | translate}}</p>
            <span>{{ user.phone }}</span>
        </div>
        <div class="content">
            <p>{{'user.email' | translate}}</p>
            <span>{{ user.email }}</span>
        </div>
        <div class="content">
            <p>{{'user.addres1' | translate}}</p>
            <span>{{ user.address1 }}</span>
        </div>
        <div class="content">
            <p>{{'user.addres2' | translate}}</p>
            <span>{{ user.address2 }}</span>
        </div>
        <div class="content">
            <p>{{'user.city' | translate}}</p>
            <span>{{ user.city }}</span>
        </div>
        <div class="content">
            <p>{{'user.postCode' | translate}}</p>
            <span>{{ user.postcode }}</span>
        </div>
    </div>
</div>